<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>Image Preview</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload</button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of parkingAttempts$ | async">
      <ion-thumbnail><img src="http://localhost:8080/api/view/{{item.id}}"/></ion-thumbnail>
      <p>{{item.id}}</p>
      <p>{{item.upVotes}}</p>
      <p>{{item.downVotes}}</p>
      <ion-icon (click)="voteUp(item.id)" name="thumbs-up"></ion-icon>
      <ion-icon name="thumbs-down"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
